:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #000000;
  --color-secondary: ##11133d;
  --color-dark: #0b2447;
  --color-bg: #04062d;

  /* Fonts */
  --font-roboto: "ubuntu Mono", ;
}
